---
import MainLayout from "../../layouts/MainLayout.astro";
import github from "../../assets/github.svg";
import { Image } from "astro:assets";
import "../../styles/globals.css";

---

<MainLayout title="Diflowy" description="Where Dify workflows are stored">
    <section>
        <div class="flex flex-col items-center justify-center mt-64">
            <a href="/api/login/github">
                <button class="btn-primary w-full md:w-auto inline-flex items-center gap-2">
                    <Image src={github} alt="github" height="30"/>
                    <span>Sign in with GitHub</span>
                </button>
            </a>
        </div>
    </section>
</MainLayout>
