@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: "Grotesk";
    src: url("/fonts/grotesk/SpaceGrotesk-Regular.woff"), format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */
/* 
  @font-face {
    font-family: "Grotesk";
    src: url("/fonts/grotesk/SpaceGrotesk-Medium.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  } */

  :root {
    --blue: #cae9f8;
    --black: rgb(15, 27, 49);
    --dark: #086aa9;
    --white: #f3f3f3;
  }

  @layer base {
    * {
      box-sizing: border-box;
      font-family: 'Open Sans', roboto, sans-serif;
      scroll-behavior: smooth;
    }

    body {
      font-size: 20px;
    }

    p {
      font-size: 1rem;
    }

    h1 {
      font-size: 3rem;
      line-height: 120%;
      font-weight: 500;
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
    }

    @media screen and (min-width: 1024px) {
      .header {
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.7);
        border-color: rgba(215, 215, 215, 0.7);
        border-bottom-width: thin;
      }
    }

    @media screen and (max-width: 1024px) {
      .header {
        background-color: rgba(255, 255, 255);
      }
      .dropdown {
        background-color: rgba(255, 255, 255);
        border-color: rgba(215, 215, 215, 0.7);
        border-bottom-width: thin;
        padding-bottom: 0em;
      }
    }

    @media (max-width: 640px) {
      body {
        font-size: 16px;
      }

      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 2.688rem;
      }

      h2 {
        font-size: 2.25rem;
      }

      h3 {
        font-size: 1.625rem;
      }

      h4 {
        font-size: 1.125rem;
      }
    }
  }

  @layer components {
    .btn-primary {
      @apply bg-dark text-white rounded-lg px-6 py-4 transition-all duration-200;
    }

    .btn-primary:hover {
      @apply bg-gradient-radial-at-bottom-center from-[#eefaff] via-[#83d4fc] to-[#58ACD6] shadow-[0_10px_25px_0px_rgba(131,212,252,0.6)] text-black transform scale-105;
    }

    .btn-secondary {
      @apply bg-transparent text-base text-black px-6 py-4 rounded-lg border border-solid border-black transition-all duration-200;
    }

    .btn-secondary:hover {
      @apply bg-dark text-white border-blue transform scale-105;
    }

    .btn-tertiary {
      @apply bg-blue text-black rounded-lg px-[35px] py-5 transition-all duration-200;
    }

    .btn-tertiary:hover {
      @apply bg-white text-black transform scale-105;
    }

    .greenhead {
      @apply text-black rounded-[7px] px-[7px];
    }

    .whitehead {
      @apply text-white rounded-[7px] px-[7px];
    }

    .blackhead {
      @apply text-dark rounded-[7px] px-[7px];
    }

    .dropdown-menu:focus-within .dropdown-menu {
      opacity: 1;
      transform: translate(0) scale(1);
      visibility: visible;
    }
    .dropdown-menu label {
      display: block;
      padding: 10px;
      cursor: pointer;
    }
    .dropdown-menu label:hover {
      background-color: #a9a9a9;
    }
    .selected-tags {
      margin-top: 10px;
    }
    .tag {
      display: inline-block;
      background-color: var(--blue);
      color: var(--dark);
      padding: 5px 10px;
      margin-right: 10px;
      margin-top: 5px;
      border-radius: 20px;
    }
  }
}