---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
import { t } from "i18next";
const descrption = t("reviews.description")
---

<Section id="testimonials">
  <div class="mt-40">
    <SectionTitle
      sectionTitle={t("reviews.title")}
      description={descrption}
    />
    <div class="rounded-[45px] bg-white dark:bg-[--darkbgoffset] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
