---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import propImg from "../../assets/pics/upload.svg";
import { t } from "i18next";
import { localizePath } from "astro-i18next";

const description = t("share.description");
---

<Section>
  <div class="mt-32 mb-5">
    <SectionTitle sectionTitle={t("navbar.share")} description={description} />
    <Card>
      <div
        class="group flex bg-[#F3F3F3] dark:bg-[--darkbgoffset] rounded-3xl p-8 relative"
      >
        <div class="w-full sm:w-7/12 md:w-1/3 flex flex-col gap-[26px]">
          <h2>{t("share.sharetitle")}</h2>
          <p>{t("share.belowtitle")}</p>
          <a href={localizePath("/upload")}
            ><button class="btn-primary w-full sm:w-auto"
              >{t("share.uploadWorkflow")}</button
            ></a
          >
        </div>
        <picture
          class="hidden sm:flex absolute right-0 lg:right-0 top-0 h-[350px] items-center justify-center"
        >
          <Image
            src={propImg}
            alt="This is an illustration"
            class="hidden sm:flex lg:h-full lg:w-auto group-hover:scale-110 transition-all duration-300"
          />
        </picture>
      </div>
    </Card>
  </div>
</Section>
