---
import MainLayout from "../layouts/MainLayout.astro";
import SectionTitle from "../components/ui/SectionTitle.astro";
import Section from "../components/sections/Section.astro";
import "../styles/globals.css";
const description = "Diflowy is a vibrant community platform dedicated to sharing and discovering Dify workflows.";
---

<MainLayout
  title="About | Diflowy"
  description="Where Dify workflows are stored"
>
  <div class="mt-48">
    <Section>
      <SectionTitle
        sectionTitle="About Us"
        description={description}
      />
    </Section>
  </div>
</MainLayout>