---
import MainLayout from "../layouts/MainLayout.astro";
import SectionTitle from "../components/ui/SectionTitle.astro";
import Section from "../components/sections/Section.astro";
import "../styles/globals.css";
const description = "Coming soon";
---

<MainLayout
  title="Diflowy"
  description="Where Dify workflows are stored"
>
  <div class="mt-48">
    <Section>
      <SectionTitle
        sectionTitle="Our Blogs"
        description={description}
      />
    </Section>
  </div>
</MainLayout>