---
import ReactFlowComponent from "../components/flow/ReactFlowComponent";
---

<html>
  <head>
    <title>Astro with React Flow</title>
  </head>
  <body>
    <h1>Welcome to Astro with React Flow</h1>
    <ReactFlowComponent client:load/>
  </body>
</html>