---
import MainLayout from "../layouts/MainLayout.astro";
// import ProtectedPage from "../components/contexts/ProtectedPage.tsx.bk.tsx.bk";
import SectionTitle from "../components/ui/SectionTitle.astro";
import Section from "../components/sections/Section.astro";
import Form from "../components/ui/Form.astro";
import "../styles/globals.css";

const description = "Upload your workflows to Diflowy";
---

<MainLayout title="Diflowy" description="Where Dify workflows are stored">
  <div class="mt-48">
    <Section>
      <SectionTitle
        sectionTitle="Share Your Workflows"
        description={description}
      />
      <div id="not-login">
        <p>
          If you want to upload and see the workflow results right away, please
          log in first.
        </p>
        <a id="login-link" href="/login"
          ><button class="btn-secondary w-full xl:w-auto py-2" id="login"
            >Login</button
          >
        </a>
        <p>
          Alternatively, you can fill out the form and have it manually reviewed
          and uploaded to the site by an administrator.
        </p>
        <a id="login-link" href="/login">
          <button class="btn-secondary w-full xl:w-auto py-2" id="login"
            >Fill the Form but slowly upload</button
          >
        </a>
      </div>
      <div id="protected-content" style="display: none;">
        <Form />
      </div>
    </Section>
  </div>
</MainLayout>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"
></script>
<script>
  import { isAuthenticated } from "../utils/auth";
  function updateUI() {
    const protectedContent = document.getElementById(
      "protected-content",
    ) as HTMLDivElement;
    const notLogin = document.getElementById("not-login") as HTMLDivElement;
    if (isAuthenticated()) {
      protectedContent.style.display = "block";
      notLogin.style.display = "none";
    } else {
      protectedContent.style.display = "none";
      notLogin.style.display = "block";
    }
  }
  updateUI();
</script>
