---
import MainLayout from "../layouts/MainLayout.astro";
// import ProtectedPage from "../components/contexts/ProtectedPage.tsx.bk.tsx.bk";
import SectionTitle from "../components/ui/SectionTitle.astro";
import Section from "../components/sections/Section.astro";
import Form from "../components/ui/Form.astro";
import "../styles/globals.css";

const description = "Upload your workflows to Diflowy";
---

<MainLayout title="Diflowy" description="Where Dify workflows are stored">
  <div class="mt-48">
    <Section>
      <SectionTitle
        sectionTitle="Share Your Workflows"
        description={description}
      />
      <div class="sm:grid sm:grid-cols-5">
        <div id="not-login" class="sm:col-start-2 sm:col-span-3">
          <p>
            If you want to upload and see the workflow results right away, please
            log in first.
          </p>
          <a id="login-link" href="/login"
            ><button class="btn-secondary w-full xl:w-auto py-2" id="login"
              >Login</button
            >
          </a>
          <p>
            Alternatively, you can fill out the form and have it manually reviewed
            and uploaded to the site by an administrator.
          </p>
          <a id="login-link" href="/login">
            <button class="btn-secondary w-full xl:w-auto py-2" id="login"
              >Fill the Form but slowly upload</button
            >
          </a>
        </div>
      </div>
      <div id="protected-content" style="display: none;">
        <Form />
      </div>
    </Section>
  </div>
</MainLayout>


<script>
  const username = sessionStorage.getItem("username");
  const notLogin = document.getElementById("not-login");
  const protectedContent = document.getElementById("protected-content");
  if (username && notLogin && protectedContent) {
    notLogin.style.display = "none";
    protectedContent.style.display = "block";
  }
</script>
