---
import MainLayout from "../layouts/MainLayout.astro";
import ProtectedPage from "../components/contexts/ProtectedPage";
import "../styles/globals.css";
---

<MainLayout
  title="Diflowy"
  description="Where Dify workflows are stored"
>
  <ProtectedPage client:load>
    <div>
      Diflowy
    </div>
  </ProtectedPage>
</MainLayout>