---
import MainLayout from "../layouts/MainLayout.astro";
import SectionTitle from "../components/ui/SectionTitle.astro";
import Section from "../components/sections/Section.astro";
import Form from "../components/ui/Form.astro";
// import ReactFlowPreview from "../components/flow/ReactFlowPreview";
import "../styles/globals.css";

const description = "Upload your workflows to Diflowy";
---

<MainLayout title="Share | Diflowy" description="Where Dify workflows are stored">
  <div class="mt-48">
    <Section>
      <SectionTitle
        sectionTitle="Share Your Workflows"
        description={description}
      />
      <div class="sm:grid sm:grid-cols-6 mt-40">
        <div id="not-login" class="sm:col-start-3 sm:col-span-2 text-center">
          <p class="text-base mb-5">
            To ensure security, you need to Login with your Github account before uploading.
          </p>
          <a id="login-link" href="/login"
            ><button class="btn-tertiary w-full xl:w-auto py-2" id="login"
              >🔐 Login and Upload</button
            >
          </a>
          <p class="mt-16 text-base mb-5">
            If you don't have a Github account, you can fill out the form and the workflow information will be reviewed and then uploaded.
          </p>
          <a id="form-link" href="https://nvrpmz0g7oy.feishu.cn/share/base/form/shrcnvn7YIMGM0TCs1gMJQgoGvc">
            <button class="btn-tertiary w-full xl:w-auto py-2"
              >📝 Fill Workflow Form</button
            >
          </a>
        </div>
      </div>
      <div class="mt-20" id="protected-content" style="display: none;">
        <div class="">
          <!-- Add Form -->
          <Form />
        </div>
      </div>
    </Section>
  </div>
</MainLayout>

<script>
  const username = sessionStorage.getItem("username");
  const notLogin = document.getElementById("not-login");
  const protectedContent = document.getElementById("protected-content");
  if (username && notLogin && protectedContent) {
    notLogin.style.display = "none";
    protectedContent.style.display = "block";
  }
</script>
