---
import { changeLanguage, t } from "i18next";
import MainLayout from "../../layouts/MainLayout.astro";
import SectionTitle from "../../components/ui/SectionTitle.astro";
import Section from "../../components/sections/Section.astro";
import Breadcrumbs from "../../components/ui/breadcrumbs.astro";
import "../../styles/globals.css";

changeLanguage("es");

const description = t("notfound.description");
const urlList = Astro.url.pathname.split("/").filter(Boolean);
---

<MainLayout
  title={t("site.notfound")}
  description={t("site.description")}
>
  <Breadcrumbs urlList={urlList} />
  <div class="mt-48">
    <Section>
      <SectionTitle
        sectionTitle={t("notfound.title")}
        description={description}
      />
      <div class="flex flex-col items-center justify-center mt-32">
        <a href="/">
            <button
                class="btn-primary w-full md:w-auto inline-flex items-center gap-2"
            >
                <span>{t("notfound.btn")}</span>
            </button>
        </a>
    </div>
    </Section>
  </div>
</MainLayout>