---
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/ui/Navbar.astro";
import MainHead from "./MainHead.astro";
import i18next from "i18next";

const { ...props } = Astro.props;
---

<html lang={i18next.language}>
  <MainHead {...props} />
  <style>
    html.lenis {
      height: auto;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
    .lenis.lenis-stopped {
      overflow: hidden;
    }
  </style>
  <script src="../utils/lenis"></script>
  <body>
    <main>
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    setDocumentDirection();
    detectAndRedirect();
  });

  function setDocumentDirection() {
    const pathPrefix = "/ar";
    if (window.location.pathname.startsWith(pathPrefix)) {
      document.documentElement.dir = "rtl";
    } else {
      document.documentElement.dir = "ltr";
    }
  }

  function detectAndRedirect() {

    type SupportedLang = 'en' | 'zh' | 'zh-Hant' | 'ja' | 'ko' | 'fr' | 'pt' | 'es' | 'de' | 'it' | 'ru' | 'ar' ;

    const supportedLanguages: Record<SupportedLang, string> = {
      'en': '/en',
      'zh': '/zh',
      "zh-Hant": "/zh-Hant",
      "ja": "/ja",
      "ko": "/ko",
      "fr": "/fr",
      "pt": "/pt",
      "es": "/es",
      "de": "/de",
      "it": "/it",
      "ru": "/ru",
      "ar": "/ar"
    };

    const languagePrefixes = Object.values(supportedLanguages);

    const currentPath = window.location.pathname;
    if (languagePrefixes.some(prefix => currentPath.startsWith(prefix))) {
      return;
    }

    const browserLang = navigator.languages
      ? navigator.languages[0]
      : (navigator.language);
    
    const shortLang = browserLang.substring(0, 2).toLowerCase();
    
    function isSupportedLanguage(lang: string): lang is SupportedLang {
      return Object.keys(supportedLanguages).includes(lang);
    }

    if (isSupportedLanguage(shortLang)) {
      const newPrefix = supportedLanguages[shortLang];
      const newPath = `${newPrefix}${currentPath === '/' ? '' : currentPath}`;
      if (newPath !== currentPath) {
        window.location.href = newPath;
      }
    } else {
      if (!currentPath.startsWith('/en')) {
        const defaultPath = `/en${currentPath === '/' ? '' : currentPath}`;
        window.location.href = defaultPath;
      }
    }
  }
  window.addEventListener('languagechange', setDocumentDirection);
</script>
<!-- Cloudflare Web Analytics -->
<script
  type="module"
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "94c3b9290009489fb3a79d942819c12f"}'></script>
<!-- End Cloudflare Web Analytics -->
