---
import ReactFlowPreview from "../../components/flow/ReactFlowPreview";
import WorkflowFileInput from "./WorkflowFileInput.astro";
import Tags from "./Tags.astro";
---

<form id="uploadForm">
  <div class="grid sm:grid-cols-6 sm:gap-4">
    <div class="sm:col-span-2 sm:col-start-1">
      <!-- Basic Info`` -->
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-xl font-semibold leading-7">Workflow Information</h2>
        <!-- Basic info -->
        <div class="grid grid-cols-1 gap-2">
          <!-- WorkFlow File -->
          <div class="sm:col-span-full">
            <label for="dsl-file" class="block text-sm font-medium leading-6"
              >Upload your Dify Workflow file</label
            >
            <WorkflowFileInput />
          </div>
          <!-- Name -->
          <div class="sm:col-span-full">
            <label
              for="workflowname"
              class="block text-sm font-medium leading-6">Workflow Name</label
            >
            <div class="mt-2">
              <div class="flex items-center">
                <div class="flex-none px-2" id="workflowIcon">🫣</div>
                <input
                  type="text"
                  name="workflowname"
                  id="workflowname"
                  autocomplete="workflowname"
                  class="input input-bordered w-full"
                  placeholder="Workflow Name"
                />
              </div>
            </div>
          </div>
          <!-- Version -->
          <div class="sm:col-span-full">
            <label for="version" class="block text-sm font-medium leading-6"
              >Version Control</label
            >
            <div class="mt-2 flex rounded-md shadow-sm">
              <span
                class="inline-flex italic items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 dark:bg-[--darkbgoffset] text-gray-500 text-sm"
              >
                V
              </span>
              <input
                type="number"
                step="0.1"
                min="0.1"
                name="version"
                id="version"
                value="1.0"
                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-r-md border border-gray-300 bg-transparent sm:text-sm"
                placeholder="1.0"
              />
            </div>
            <p class="mt-1 text-xs leading-normal text-gray-400">
              ⚠️ Note: This section is for uploading the initial version of your
              workflow. We recommend labeling it as <span class="font-semibold"
                >v1.0</span
              >.
              <br />For any future updates, you can visit the <a
                href="/user"
                class="link font-semibold hover:text-dark">► User Center</a
              > to upload newer versions.
            </p>
          </div>
          <!-- Description -->
          <div class="sm:col-span-full">
            <label for="description" class="block text-sm font-medium leading-6"
              >Description<small class="text-gray-400 ml-1"
                >[Support Markdown]</small
              ></label
            >
            <div class="mt-2">
              <textarea
                id="description"
                name="description"
                rows="12"
                class="textarea textarea-bordered w-full"
                placeholder="Describe your workflow with a few key points, such as:
    - Introduction
    - Capabilities
    - Usage
    - Restrictions
    - Dify Version Requirement
    - Sponsorship 
    - Copyright
    - Others
    *Support Markdown*"
              ></textarea>
            </div>
          </div>
          <!-- Dropdown Tags -->
          <Tags />
        </div>
      </div>
      <!-- Author Info -->
      <div class="border-b border-gray-900/10 pb-12">
        <div class="mt-5 grid grid-cols-1">
          <div class="sm:col-span-full">
            <label for="author-name" class="block text-sm font-medium leading-6"
              >Author name</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="author-name"
                id="author-name"
                class="input input-bordered w-full"
                placeholder="Enter author's name"
              />
            </div>
          </div>
          <div class="mt-4 sm:col-span-full">
            <label for="social-link" class="block text-sm font-medium leading-6"
              >Social Media / Contact Link</label
            >
            <div class="mt-2">
              <input
                id="social-link"
                name="social-link"
                class="input input-bordered w-full"
                placeholder="Enter link or social account"
              />
            </div>
            <div class="mt-1">
              <p class="text-xs leading-5 text-gray-400">
                Please enter author's social account username or URL. <br
                />Include the social platform name after the account username.
                For example:
              </p>
              <ul
                class="list-disc list-inside text-xs text-gray-400 break-all leading-5"
              >
                <li>@username(Twitter/Instagram/Tiktok/Github/LinkedIn)</li>
                <li>facebook.com/username</li>
                <li>http://website.com</li>
                <li>authorEmail@example.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Notifications -->
      <div class="border-b border-gray-900/10 pb-4">
        <h2 class="text-base font-semibold leading-7">🔔 Notifications</h2>
        <ul class="list-disc list-inside text-xs">
          <li class="leading-6 text-gray-600">
            Please complete the above fields in detail for the benefit of
            others.
          </li>
          <li class="leading-6 text-gray-600">
            Please confirm that you are the author and willing to share this
            workflow, or that it is freely shareable, and provide complete
            author information.
          </li>
          <li class="leading-6 text-gray-600">
            Ensure there is no private information (API keys, environment
            variables, etc.) before uploading.
          </li>
        </ul>
      </div>
      <!-- Button -->
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button
          type="submit"
          class="btn-tertiary w-full px-3 py-2 text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >Upload</button
        >
      </div>
    </div>
    <div
      id="reactflow-preview"
      class="mt-8 sm:mt-0 sm:col-span-4 sm:col-start-3"
    >
      <h2 class="text-xl font-semibold leading-7">Workflow Preview</h2>
      <div class="w-full h-[500px] sm:h-[600px]">
        <ReactFlowPreview client:only="react" />
      </div>
      <div>
        <small class="text-sm text-gray-400"
          >* The above is for preview only, any changes will not affect the
          file.</small
        >
      </div>
    </div>
  </div>
</form>

<script>
  /// <reference path="../../env.d.ts" />
  // Process YAML ReactFlow Data
  import { parseYamlToReactFlow, paresYamlToJSON } from "../flow/yamlParser.ts";
  const dslfile = document.getElementById("dsl-file") as HTMLInputElement;
  const uploadContainer = document.getElementById(
    "upload-container",
  ) as HTMLElement;

  // Get the modal element
  const modal = document.getElementById("modal") as HTMLDialogElement;
  const modalTitle = document.getElementById(
    "modalTitle",
  ) as HTMLHeadingElement;
  const modalContent = document.getElementById(
    "modalContent",
  ) as HTMLDivElement;

  // Function to handle file upload
  function handleFile(event: Event | DragEvent) {
    let file: File | undefined;
    if ("dataTransfer" in event) {
      // Drag and drop event
      file = event.dataTransfer?.files[0];
    } else if ("target" in event) {
      // File input event
      const target = event.target as HTMLInputElement;
      file = target.files?.[0];
    }

    if (file) {
      const workflow_name = document.getElementById(
        "workflowname",
      ) as HTMLInputElement;
      const description = document.getElementById(
        "description",
      ) as HTMLTextAreaElement;
      const workflow_icon = document.getElementById(
        "workflowIcon",
      ) as HTMLDivElement;
      const fileIndicator = document.getElementById(
        "fileIndicator",
      ) as HTMLInputElement;
      fileIndicator.innerHTML = `Selected File: <br><span class="font-semibold text-base">${file.name}</span>`;
      const reader = new FileReader();
      reader.onload = function (e) {
        const target = e.target as FileReader;
        const yamlContent = target.result as string;
        try {
          const yamlData = paresYamlToJSON(yamlContent);
          workflow_name.value = yamlData.app.name;
          description.value = yamlData.app.description;
          workflow_icon.innerText = yamlData.app.icon || "😃";
          // console.log("yamlData loaded");
          const { nodes, edges } = parseYamlToReactFlow(yamlContent);
          // Update the ReactFlow component
          if (typeof (window as any).updateReactFlow === "function") {
            (window as any).updateReactFlow(nodes, edges);
          } else {
            console.error("updateReactFlow function not found");
          }
        } catch (error) {
          console.error("Error parsing YAML file:", error);
          // alert(
          //   "Unsupported file format. Please upload a valid Dify DSL file.",
          // );
          modalTitle.innerText = "⚠️ Error";
          modalContent.innerText =
            "Unsupported file format. Please upload a valid Dify DSL file.";
          modal.showModal();
          dslfile.value = ""; // Clear the file input field
          workflow_name.value = "";
          description.value = "";
        }
      };
      reader.readAsText(file);
    }
  }

  // Event listener for file input
  if (dslfile) {
    dslfile.addEventListener("change", function (event) {
      if (event.target) {
        handleFile(event);
      }
    });
  }

  uploadContainer.addEventListener("drop", (e: DragEvent) => {
    e.preventDefault();
    e.stopPropagation();
    uploadContainer.classList.remove("bg-gray-100");
    const dragEvent = e as DragEvent;
    if (dragEvent.dataTransfer && dragEvent.dataTransfer.files.length > 0) {
      const file = dragEvent.dataTransfer.files[0];
      if (file.name.endsWith(".yml") || file.name.endsWith(".yaml")) {
        handleFile(e);
      } else {
        // alert("Please upload a Dify DSL file.");
        modalTitle.innerText = "⚠️ Error";
        modalContent.innerText =
          "Unsupported file format. Please upload a valid Dify DSL file.";
        modal.showModal();
      }
    }
  });
</script>
<script>
  // Get the modal element
  const modal = document.getElementById("modal") as HTMLDialogElement;
  const modalTitle = document.getElementById(
    "modalTitle",
  ) as HTMLHeadingElement;
  const modalContent = document.getElementById(
    "modalContent",
  ) as HTMLDivElement;
  const confirmBtn = document.getElementById("confirmBtn") as HTMLButtonElement;
  // Get the file indicator
  const fileIndicator = document.getElementById(
    "fileIndicator",
  ) as HTMLInputElement;
  // Get the file input
  const dslfile = document.getElementById("dsl-file") as HTMLInputElement;

  // Upload Form
  const form = document.getElementById("uploadForm") as HTMLFormElement;
  async function handleSubmit(event: Event) {
    event.preventDefault();
    // Show loading modal
    modalTitle.innerText = "⏳ Processing...";
    modalContent.innerText = "Workflow is uploading...";
    confirmBtn.classList.toggle("hidden", true);
    modal.showModal();
    // Get form data
    const formData = new FormData(form);
    const selectedTags = document.querySelectorAll(".tag");
    // Check if all required fields are filled
    if (
      !formData.get("workflowname") ||
      !formData.get("description") ||
      !formData.get("dsl-file") ||
      !formData.get("version") ||
      !formData.get("author-name") ||
      !formData.get("social-link") ||
      selectedTags.length === 0
    ) {
      modalTitle.innerText = "😮 Opps";
      modalContent.innerText = "Please fill out all required fields.";
      modal.showModal();
      return;
    } else {
      // Required fields are filled, proceed with form submission
      // Add Icon to form data
      const workflow_icon = document.getElementById(
        "workflowIcon",
      ) as HTMLInputElement;
      formData.append("icon", workflow_icon.innerText);
      // Add the selected tags to the form data
      const selectedTagsTree = document.getElementById("selectedTags");
      const tags: string[] = [];
      selectedTags.forEach((tag) => {
        tags.push(tag.textContent as string);
      });
      formData.append("tags", JSON.stringify(tags));
      console.log(
        "FormData>>>",
        formData.get("tags"),
        formData.get("dsl-file"),
      );
      // Send form data to the server
      try {
        const response = await fetch("/api/workflow/upload", {
          method: "POST",
          body: formData,
        });
        if (response.ok) {
          console.log("Response>>>", response.json());
          // alert("Upload successful!");
          modalTitle.innerText = "🎉 Tada!";
          modalContent.innerText = "Upload successful!";
          confirmBtn.classList.toggle("hidden", true);
          modal.showModal();
          // Reset the fileIndicator
          fileIndicator.innerText = "Requirement: Dify DSL Workflow File(.yml)";
          // Reset the workflow icon
          workflow_icon.innerText = "🫣";
          // Clear the form
          form.reset();
          // Clear the file input
          dslfile.value = "";
          // Clear the selected tags
          selectedTagsTree!.innerHTML = "";
        } else if (response.status === 401) {
          // alert("Before you upload, please login first.");
          modalTitle.innerText = "😮 Opps...";
          modalContent.innerText =
            "Your login has expired, please login again!";
          confirmBtn.textContent = "Login again";
          confirmBtn.classList.toggle("btn-error", true);
          confirmBtn.classList.toggle("hidden", false);
          confirmBtn.addEventListener("click", (event: Event) => {
            event.preventDefault();
            window.location.href =
              "/api/login/github?redirect=" +
              encodeURIComponent(
                window.location.pathname + window.location.search,
              );
          });
          modal.showModal();
        } else {
          // alert(
          //   "An error occurred while uploading the file. Please try again or contact us with email: diflowy@greenerai.top",
          // );
          modalTitle.innerText = "😮 Opps...";
          confirmBtn.classList.toggle("hidden", true);
          modalContent.innerText =
            "An error occurred while uploading the file. Please try again or contact us with email: diflowy@greenerai.top";
          modal.showModal();
        }
      } catch (error) {
        console.error("Error uploading file:", error);
        // alert(
        //   "Your network is unreachable. Please check your internet connection and try again.",
        // );
        modalTitle.innerText = "😮 Opps...";
        confirmBtn.classList.toggle("hidden", true);
        modalContent.innerText =
          "Your network is unreachable. Please check your internet connection and try again.";
        modal.showModal();
      }
    }
  }
  // Add event listener to the form
  form.addEventListener("submit", handleSubmit);
</script>
