---
---

<dialog id="modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 id="modalTitle" class="text-lg font-bold">Hello!</h3>
    <div id="modalContent" class="py-4 text-sm"></div>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>